parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Traversable\<mixed, mixed\>\:\:getTypeClass\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Mapper/Mapper.php

		-
			message: '#^Cannot call method getMapping\(\) on iterable\.$#'
			identifier: method.nonObject
			count: 1
			path: src/PreLoader/ORMPreLoader.php

		-
			message: '#^Cannot call method getOwner\(\) on iterable\.$#'
			identifier: method.nonObject
			count: 1
			path: src/PreLoader/ORMPreLoader.php

		-
			message: '#^Cannot call method isInitialized\(\) on iterable\.$#'
			identifier: method.nonObject
			count: 1
			path: src/PreLoader/ORMPreLoader.php

		-
			message: '#^Parameter \#2 \$destination of method MapperBundle\\Mapper\\Mapper\:\:convertCollection\(\) expects class\-string\<array\>, string given\.$#'
			identifier: argument.type
			count: 3
			path: tests/TestCase/Unit/Mapper/MapperTest.php

		-
			message: '#^Parameter \#2 \$destination of method MapperBundle\\Mapper\\Mapper\:\:convertCollectionWithPreLoader\(\) expects class\-string\<array\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/TestCase/Unit/Mapper/MapperTest.php

		-
			message: '#^Access to an undefined property Doctrine\\Persistence\\Proxy&PHPUnit\\Framework\\MockObject\\MockObject\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: tests/TestCase/Unit/PropertyAccessor/DoctrineProxyPropertyAccessorTest.php

		-
			message: '#^Property class@anonymous/tests/TestCase/Unit/PropertyAccessor/PropertyAccessorTest\.php\:53\:\:\$name is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/TestCase/Unit/PropertyAccessor/PropertyAccessorTest.php
